html.dark {
  #user-stats {
    background-color: #2f2f2f; 
    border-color: #fff;

    span {
      color: #fff;
    }

    .reset-btn {
      filter: brightness(0) invert(1);
    }
  }
}

html.light {
  #user-stats {
    background-color: #e3e3e3;
    border-color: #000;

    span {
      color: #000;
    }

    .reset-btn {
      filter: brightness(0) invert(0);
    }
  }
}

#user-stats {
  display: flex;
  position: absolute;
  width: fit-content;
  border-radius: 6px; 
  padding: 6px 16px;
  font-size: .875rem;
  border: 1px solid;
  z-index: 999;

  span {
    white-space: pre-line;
  }

  .reset-btn {
    height: 16px;
    width: 16px;
    cursor: pointer;
  }
}
