html.dark {
  #user-stats {
    background-color: #2f2f2f; 
    border-color: #fff;

    span {
      color: #fff;
    }
  }
}

html.light {
  #user-stats {
    background-color: #e3e3e3;
    border-color: #000;

    span {
      color: #000;
    }
  }
}

#user-stats {
  position: absolute;
  width: fit-content;
  border-radius: 6px; 
  padding: 6px 16px;
  font-size: .875rem;
  border: 1px solid;
  cursor: pointer;
  z-index: 999;

  span {
    white-space: pre-line;
  }
}

/* popup styles */
.container {
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 1em;
  font-size: 1.25em;

  .stats {
    width: fit-content;
    white-space: pre-line;
  }

  a {
    color: blue;
    text-decoration: none;
  }
}

/* admin page styles */
.main {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 1px solid;
  padding: 1em;
  border-radius: 6px;
  width: fit-content;
}

.config-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.config-item {
  flex-grow: 1;
}

.config-value {
  max-width: 25%;
}
